.header{
    background-image: url('/assets/images/HeaderBG.png');
    
     width: 100%;
     min-width: 100%;
     position: fixed;
}



.logo
{
    width:6%;
    height:4%;
    margin-left: 1%
}

.appname
{
    width:10%;
     height:10%;
    margin-left: 2%;
}

.group
{
    width:1.5%;
     height:2%;
    margin-left: 70%;
    cursor: pointer;
}

.download
{
    width:1.5%;
     height:2%;
    margin-left: 1%;
    cursor: pointer;
}
.book
{
    width:1.5%;
     height:2%;
    margin-left: 1%;
    cursor: pointer;
}

.user
{
    width:1.5%;
     height:2%;
    margin-left: 1%;
    cursor: pointer;
}

