
<header class="header">
    <img src="assets/images/WhiteLogo.png" width="6%" height="4%" style="margin-left: 1%"/>
    <img src="assets/images/Appname.png" width="10%" height="10%" style="margin-left: 2%"/>
    
    <img src="assets/images/Group.png" width="1.5%" height="2%" style="margin-left: 70%" class="actionitem"/>
    <img src="assets/images/Download.png" width="1.5%" height="2%" style="margin-left: 1%" class="actionitem"/>
    <img src="assets/images/Bookopen.png" width="1.5%" height="2%" style="margin-left: 1%" class="actionitem"/>
    <img src="assets/images/User.png" width="1.5%" height="2%" style="margin-left: 1%" class="actionitem"/>
</header>
