.action
{
    
    padding-left: 45%;
   background-color: whitesmoke;
   width: 100%;
   min-width: 50%;
   
    }

.actiondiv{
   
   background-image: url('/assets/images/Actionbar.png');
  
   
}  

.actionitem{
   
    width: 12%;
    height: 1%;
    margin-left: 15%;
    cursor: pointer;
 }  

