.action
{
    
    padding-left: 45%;
   background-color: whitesmoke;
   width: 100%;
   min-width: 50%;
   
    }

.actiondiv{
   
   background-image: url('/assets/images/Actionbar.png');
  margin-top: 5%;
   
}  

.actionitem{
   
    width: 5%;
    height: 1%;
    margin-left: 3%;
    cursor: pointer;
 }  

