.login 
{
    border:1px solid #250b3a;
    position: absolute;
    align-self: center;
    top:25%;
    left:40%;
    z-index: 1;
    width:30%;
    height: 30%;

}

.loginheader
{
    background-color: #250b3a;
    text-align: center;
    color: white;
}

